In [17]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
import pickle

In [18]:
heartfail_dataset=pd.read_csv('heart_failure_clinical_records_dataset.csv')
df=heartfail_dataset

In [19]:
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,label
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [20]:
df.shape

(299, 13)

In [21]:
df['label'].value_counts()

0    203
1     96
Name: label, dtype: int64

In [22]:
X=df.drop(columns='label',axis=1)
y=df['label']

In [23]:
print(X)

      age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0    75.0        0                       582         0                 20
1    55.0        0                      7861         0                 38
2    65.0        0                       146         0                 20
3    50.0        1                       111         0                 20
4    65.0        1                       160         1                 20
..    ...      ...                       ...       ...                ...
294  62.0        0                        61         1                 38
295  55.0        0                      1820         0                 38
296  45.0        0                      2060         1                 60
297  45.0        0                      2413         0                 38
298  50.0        0                       196         0                 45

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                      1  265000.00               1.9           130    1
1                      0  263358.03               1.1           136    1
2                      0  162000.00               1.3           129    1
3                      0  210000.00               1.9           137    1
4                      0  327000.00               2.7           116    0
..                   ...        ...               ...           ...  ...
294                    1  155000.00               1.1           143    1
295                    0  270000.00               1.2           139    0
296                    0  742000.00               0.8           138    0
297                    0  140000.00               1.4           140    1
298                    0  395000.00               1.6           136    1

     smoking  time
0          0     4
1          0     6
2          1     7
3          0     7
4          0     8
..       ...   ...
294        1   270
295        0   271
296        0   278
297        1   280
298        1   285

[299 rows x 12 columns]

In [24]:
print(y)

0      1
1      1
2      1
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: label, Length: 299, dtype: int64

In [25]:
X=df.drop(columns='label',axis=1)
y=df['label']

In [26]:
print(X)
print(y)

      age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0    75.0        0                       582         0                 20
1    55.0        0                      7861         0                 38
2    65.0        0                       146         0                 20
3    50.0        1                       111         0                 20
4    65.0        1                       160         1                 20
..    ...      ...                       ...       ...                ...
294  62.0        0                        61         1                 38
295  55.0        0                      1820         0                 38
296  45.0        0                      2060         1                 60
297  45.0        0                      2413         0                 38
298  50.0        0                       196         0                 45

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                      1  265000.00               1.9           130    1
1                      0  263358.03               1.1           136    1
2                      0  162000.00               1.3           129    1
3                      0  210000.00               1.9           137    1
4                      0  327000.00               2.7           116    0
..                   ...        ...               ...           ...  ...
294                    1  155000.00               1.1           143    1
295                    0  270000.00               1.2           139    0
296                    0  742000.00               0.8           138    0
297                    0  140000.00               1.4           140    1
298                    0  395000.00               1.6           136    1

     smoking  time
0          0     4
1          0     6
2          1     7
3          0     7
4          0     8
..       ...   ...
294        1   270
295        0   271
296        0   278
297        1   280
298        1   285

[299 rows x 12 columns]
0      1
1      1
2      1
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: label, Length: 299, dtype: int64

In [27]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,stratify=y,random_state=2)

In [28]:
print(X.shape,X_train.shape,X_test.shape)

(299, 12) (239, 12) (60, 12)

In [29]:
model=svm.SVC(kernel='linear')
model.fit(X_train,y_train)

SVC(kernel='linear')

In [30]:
X_train_predict=model.predict(X_train)
train_data_accuracy=accuracy_score(X_train_predict,y_train)
print('Data Train Accuracy : ',train_data_accuracy)

Data Train Accuracy :  0.8242677824267782

In [31]:
X_test_predict=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_predict,y_test)
print('Data Test Accuracy : ',test_data_accuracy)

Data Test Accuracy :  0.7833333333333333

## Membuat model prediksi

0 = Tidak Gagal Jantung
1 = Gagal Jantung

In [36]:
input_data=[[70,0,66,1,45,0,249000,0.8,136,1,1,80]]

prediction=model.predict(input_data)
print(prediction)

if(prediction==0):
  print('Pasien Tidak Gagal Jantung')
else:
  print('Pasien Gagal Jantung')

[1]
Pasien Gagal Jantung

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [33]:
filename='heartfail-model3.sav'
pickle.dump(model,open(filename,'wb'))